.form > div div {
  width: 100%;
}


.form{
    margin-top: 100px;
}


input[type="file"] {
  cursor: pointer;
}

input[type="file"]::file-selector-button {
  opacity: 0;
}

.Box{
    margin-top: 50px;
}